.app {
  max-width: 960px;  
  background-color: $backgroundApp;
  font-family: $roboto;  
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgba(0,0,0, .2);
  color: $greyText;
  line-height: 1.5;
}
