.form {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    &__date {
        text-align: center;
        margin-bottom: 20px;        
    }
    &__title {
        margin-bottom: 20px;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 5px;
        padding: 10px 20px;
        background-color: transparent;
        font-family: $roboto;
        font-size: 16px;
        font-weight: 500;
        color: $greyText;
        box-sizing: border-box;
        line-height: 1.5;
        &::placeholder {
            font-weight: 400;
        }
        @media(max-width: $tablet) {
            padding: 10px;
        }
        
    }
    &__text {
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 5px;
        background-color: transparent;
        resize: none;
        height: 350px;
        padding: 10px 20px;
        font-family: $roboto;
        font-size: 16px;
        color: $greyText;
        line-height: 1.5;
        box-sizing: border-box;
        @media(max-width: $tablet) {
            height: calc(100vh - 146px);
            padding: 10px;
        }
        @media(max-width: $phone) {
            
        }
    }    
    @media(max-width: $tablet) {
        padding: 0 10px;
    }
}