.layout {
    height: 500px;
    display: flex;  
    // position: fixed;
    top: 60px; 
    @media( max-width: $tablet) {
        height: 100vh;

    }
    @media( max-width: $phone) {
      display: block;
      position: relative;
      top: 60px;
    }
}
