.listItem {
    padding: 15px 15px 15px 30px;      
    cursor: pointer;
    min-width: 255px;
    min-height: 80px;
    // position: relative;

    &__title {
        font-weight: 500;
    }

    &__content {
        display: flex;
    }
    &__date {
        margin-right: 10px;
    }
    

    &-active {
        background-color: rgba(0,0,0,.1);
    }

    &:last-child {
        margin-bottom: 0;
    }    
    &::before {
        display: block;
        content: '';
        width: calc(100% + 15px);
        height: 1px;
        position: relative;
        top: 64px;
        background: rgba(0,0,0,.1);
    }
}