.listItem {
    padding: 15px 15px 15px 30px;      
    cursor: pointer;
    min-height: 80px;
    overflow: hidden;

    &__title {
        font-weight: 500;        
        @media( max-width: $tablet) {
            text-align: center;
        }
    }

    &__content {
        display: flex;        
        @media( max-width: $tablet) {
          justify-content: space-evenly;
        }
    }
    &__date {
        margin-right: 10px;
        @media( max-width: $tablet) {
            margin-right: 0;
        }
    }
    

    &-active {
        background-color: rgba(0,0,0,.1);
    }

    &:last-child {
        margin-bottom: 0;
    }    
    &::before {
        display: block;
        content: '';
        width: calc(100% + 15px);
        height: 1px;
        position: relative;
        top: 64px;
        background: rgba(0,0,0,.1);

        @media( max-width: $tablet) {
            display: none;
        }
    }
    @media( max-width: $tablet) {
     padding: 15px 10px;
     border-bottom: 1px solid rgba(0,0,0,.1);
    }
    @media( max-width: $phone) {
      
    }
}