.sidebar {  
    overflow-y: scroll;
    flex: 1;

    &::-webkit-scrollbar {
        width: 10px;
        @media(max-width: $phone) {
            width: 0;
        }
    }
    &::-webkit-scrollbar-track {
        background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 4px;
        border: 1px solid #fff;
        background-clip: content-box;
    }
    @media( max-width: $tablet) {
        flex: 3;
    }
    @media( max-width: $phone) {
        height: 100vh;
    }
    &__hide {
        @media(max-width: $phone) {
            display: none;
        }
    }
}

