.button {
    margin: 10px;
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.3s;    

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}